<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <!-- jQuery 核心文件 -->
        <script src="/js/jquery.min.3.2.1.js"></script>
        <!-- Angular 核心文件 -->
        <script src="/js/angular.min.js"></script>
        <script src="/js/angular-ui-router.min.js"></script>
        <!-- Angular 动画引擎 -->
        <script src="/js/angular-animate.min.js"></script>
        <!-- Angular 初始化 -->
        <script src="/js/App.js"></script>
        <!-- Bootstrap 库的核心文件 -->
        <script src="/js/bootstrap.min.js"></script>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <!-- Bootstrap 库的字体文件 -->
        <link href="/fonts/glyphicons-halflings-regular.eot" rel="stylesheet">
        <link href="/fonts/glyphicons-halflings-regular.avg" rel="stylesheet">
        <link href="/fonts/glyphicons-halflings-regular.ttf" rel="stylesheet">
        <link href="/fonts/glyphicons-halflings-regular.woff" rel="stylesheet">
        <link href="/fonts/glyphicons-halflings-regular.woff2" rel="stylesheet">
        <!-- Nprogress 进度条 -->
        <script src="/js/nprogress.js"></script>
        <link href="/css/nprogress.css" rel="stylesheet">
        <!-- Style 自定义样式 -->
        <link href="/css/style.css" rel="stylesheet">
        <!-- Buttons 库的核心文件 -->
        <link href="/css/buttons.css" rel="stylesheet">
        
        <script src="js/messenger.min.js"></script>
        <link href="/css/messenger.css" rel="stylesheet">
        <link href="/css/messenger-theme-future.css" rel="stylesheet">
        
        <!-- Angular 功能模块 -->
        <script src="/controller/UserController.js"></script>
        <script src="/controller/NavigationController.js"></script>
        <script src="/controller/ReginController.js"></script>
        <!-- Angular 服务 -->
        <script src="/services/services.js"></script>
    </head>
    <body ng-app="myApp">
        <div ui-view></div>
    </body>
</html>
