<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="/js/jquery.min.3.2.1.js"></script>
        <script src="/js/angular.min.js"></script>
        <script src="/js/angular-ui-router.min.js"></script>
        <script src="/js/App.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/nprogress.js"></script>
        <link href="/css/nprogress.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
        <!-- Bootstrap 库的核心文件 -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
        <!-- Buttons 库的核心文件 -->
        <link href="/css/buttons.css" rel="stylesheet">
        <script src="/controller/UserController.js"></script>
        <script src="/controller/NavigationController.js"></script>
        <script src="/services/services.js"></script>
    </head>
    <body ng-app="myApp">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div ui-view></div>
            </div>
        </nav>
        
    </body>
</html>
