<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    </head>
    <body ng-controller="NavigationCtrl">
        <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">当前注册用户</div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Pwd</th>
                    <th>操作</th>
                    <th>状态:{{allButton.status}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stooge in data">
                    <th scope="row">{{stooge.id}}</th>
                    <td>{{stooge.name}}</td>
                    <td>{{stooge.pwd}}</td>
                    <td><button type="button" class="btn btn-warning" ng-click="findById(stooge.id)">{{allButton.update}}</button></td>
                    <td><button type="button" class="btn btn-danger" ng-click="del(stooge.id)">{{allButton.delete}}</button></td>
                </tr>
            </tbody>
        </table>
        </div>
    </body>
</html>
