<div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="...">
        </a>
    </div>
    <ul class="nav navbar-nav">
        <li role="presentation" ng-class="{ active:'page1'=== currentType }"><a ui-sref="tab.page1" ng-click="changeTab('page1')">首页</a></li>
        <li role="presentation" ng-class="{ active:'page2'=== currentType }"><a ui-sref="tab.page2" ng-click="changeTab('page2')">视频</a></li>
        <li role="presentation" ng-class="{ active:'page3'=== currentType }"><a ui-sref="tab.page3" ng-click="changeTab('page3')">相册</a></li>
        <li role="presentation" ng-class="{ active:'page4'=== currentType }"><a ui-sref="tab.page4" ng-click="changeTab('page4')">关于</a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
        </div>
        <!--<button type="submit" class="button button-glow button-rounded button-raised button-primary button-rounded button-small">找！</button>-->
    </form>
    <p class="navbar-text navbar-right">您可以<a href="#" class="navbar-link">注册一个用户</a>或<a href="#" class="navbar-link">使用已有用户</a></p>
    <audio src="http://www.w3school.com.cn/i/horse.ogg" controls="controls">
    您的浏览器不支持 audio 标签。
    </audio>
</div>

<div ui-view class ="container" style="height:100%;"></div>